<span class="dropdown">
    <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="actionMenu{{ "{{ entity.id }}" }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{ "{{ 'button.action'|trans }}" }}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right" aria-labelledby="actionMenu{{ "{{ entity.id }}" }}">
        {%- for action in record_actions %}
            {% if action != 'delete' %}
                <li><a href="{{ "{{ path('"~ route_name_prefix ~"_"~ action ~"', { 'id': entity.id }) }}" }}">{{ "{{ 'views.actions."~action~"'|trans({}, 'CrudBundle') }}" }}</a></li>
            {% endif %}
        {%- endfor %}
        <li class="divider"></li>
        <li><a href="{{ "{{ path('"~ route_name_prefix ~"_delete', { 'id': entity.id }) }}" }}">{{ "{{ 'views.actions.delete'|trans({}, 'CrudBundle') }}" }}</a></li>
    </ul>
</span>