<div class="btn-group btn-group-sm">
    <a class="btn btn-default" href="{{ "{{ path('"~ route_name_prefix ~"_index') }}" }}">
        {{ "{{ 'views.recordactions.backtothelist'|trans({}, 'CrudBundle') }}" }}
    </a>
{% if ('edit' in actions) and (not hide_edit) %}
    <a class="btn btn-primary" href="{{ "{{ path('"~ route_name_prefix ~"_edit', { 'id': entity.id }) }}" }}">
        {{ "{{ 'views.recordactions.edit'|trans({}, 'CrudBundle') }}" }}
    </a>
{% endif %}
{% if ('delete' in actions) and (not hide_delete) %}
<a class="btn btn-danger" onclick="confirmRemoval();">
    {{ "{{ 'views.recordactions.delete'|trans({}, 'CrudBundle') }}" }}
    <form id="entityDeleteForm" action="{{ "{{ path('"~ route_name_prefix ~"_delete', { 'id': entity.id }) }}" }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ '{{ form_widget(delete_form) }}' }}
    </form>
    <script>
        function confirmRemoval() {
            var _prototype = '{{ "{% spaceless %}" }}
            <div class="modal fade" id="entityRemovalDialog" tabindex="-1" role="dialog" aria-labelledby="entityRemovalDialogLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="{{ "{{ 'button.close'|trans({}, 'CrudBundle') }}" }}"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="entityRemovalDialogLabel">{{ "{{ 'views.remove.dialog_title'|trans({ '%ENTITY%': '" ~ entity ~ "' }, 'CrudBundle') }}" }}</h4>
                        </div>
                        <div class="modal-body">
                          <p>{{ "{{ 'views.remove.dialog_text'|trans({}, 'CrudBundle') }}" }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{ "{{ 'button.no'|trans({}, 'CrudBundle') }}" }}</button>
                            <button type="button" class="btn btn-danger" onclick="removeObject();">{{ "{{ 'button.yes'|trans({}, 'CrudBundle') }}" }}</button>
                        </div>
                    </div>
                </div>
            </div>
            {{ "{% endspaceless %}" }}';

            $('body').append(_prototype);
            $('#entityRemovalDialog').on('hidden.bs.modal', function(e){
                $('#entityRemovalDialog').remove();
            });
            $('#entityRemovalDialog').modal('show');
        }
        function removeObject() {
            $("#entityDeleteForm").submit();
        }
    </script>
</a>
{% endif %}
</div>