
    /**
     * Invoke bulk action on a selected {{ entity }} group.
     *
{% if 'annotation' == format %}
     * @Route("/bulk-action", name="{{ route_name_prefix }}_bulk_action")
     * @Method("POST")
     * @Template()
{% endif %}
     */
    public function bulkActionAction(Request $request)
    {
        $em = $this->getDoctrine()->getManager();
        $idSelection = $request->request->get('bulk_selection', array());
        $action = $request->request->get('_action', null);
        $t = $this->get('translator');
        
        if (count($idSelection) > 0 && null !== $action) {
            $b = $em->getRepository('{{ bundle }}:{{ entity }}')->createQueryBuilder("e");
            $entities = $b->where($b->expr()->in('e.id', $idSelection))->getQuery()->getResult();
            
            switch($action) {
                case "remove" :
                    $this->bulkRemove($entities);
                    $request->getSession()->getFlashBag()->add('success', $t->transChoice("flash.delete.bulk_success", count($entities), array('%X%' => count($entities)), 'CrudBundle'));
                    break;
                default :
                    $request->getSession()->getFlashBag()->add('warning', $t->trans("flash.warning.action_not_recognised", array(), 'CrudBundle'));
            }
            
            return $this->redirectToRoute('{{ route_name_prefix }}_index');
        } else if (count($idSelection) == 0) {
            $request->getSession()->getFlashBag()->add('warning', $t->trans("flash.warning.empty_selection", array(), 'CrudBundle'));
        } else if (null === $action) {
            $request->getSession()->getFlashBag()->add('error', $t->trans("flash.warning.action_not_recognised", array(), 'CrudBundle'));
        }

        return $this->redirectToRoute('{{ route_name_prefix }}_index');
    }
    
    
    private function bulkRemove($entities)
    {
        $em = $this->getDoctrine()->getManager();
        foreach($entities as $entity) {
            $em->remove($entity);
        }
        $em->flush();
    }
