
    /**
     * Lists all {{ entity }} entities.
     *
{% if 'annotation' == format %}
     * @Route("/", name="{{ route_name_prefix }}")
     * @Method("GET")
     * @Template()
{% endif %}
     */
    public function indexAction(Request $request)
    {
        list($filterForm, $queryBuilder) = $this->filter($request);

        list($entities, $pagerHtml) = $this->paginator($request, $queryBuilder);

{% if 'annotation' == format %}
        return array(
            'entities' => $entities,
            'pagerHtml' => $pagerHtml,
            'filterForm' => $filterForm->createView(),
        );
{% else %}
        return $this->render('{{ entity|replace({'\\': '/'})|lower }}/index.html.twig', array(
            'entities' => $entities,
            'pagerHtml' => $pagerHtml,
            'filterForm' => $filterForm->createView(),
        ));
{% endif %}
    }

    /**
    * Create filter form and process filter request.
    *
    */
    protected function filter(Request $request)
    {
        $session = $request->getSession();
        $filterForm = $this->createForm({{ entity }}FilterType::class, null, array(
            'action' => $this->generateUrl('{{ route_name_prefix }}_index'),
            'method' => Request::METHOD_POST,
            'attr' => array('class' => 'well'),
        ));
        $em = $this->getDoctrine()->getManager();
        $queryBuilder = $em->getRepository('{{ bundle }}:{{ entity }}')->createQueryBuilder('e');
        
        

        // Reset filter
        if ($request->get('filter_action') == 'reset') {
            $session->remove('{{ entity }}ControllerFilter');
        }

        // Filter action
        if ($request->get('filter_action') == 'filter') {
            // Bind values from the request
            $filterForm->handleRequest($request);

            if ($filterForm->isValid()) {
                // Build the query from the given form object
                $this->get('lexik_form_filter.query_builder_updater')->addFilterConditions($filterForm, $queryBuilder);
                // Save filter to session
                $filterData = $filterForm->getData();
                $session->set('{{ entity }}ControllerFilter', $filterData);
            }
        } else {
            // Get filter from session
            if ($session->has('{{ entity }}ControllerFilter')) {
                $filterData = $session->get('{{ entity }}ControllerFilter');
                $filterForm = $this->createForm({{ entity }}FilterType::class, $filterData, array(
                    'action' => $this->generateUrl('{{ route_name_prefix }}_index'),
                    'method' => Request::METHOD_POST,
                    'attr' => array('class' => 'well'),
                ));
                $this->get('lexik_form_filter.query_builder_updater')->addFilterConditions($filterForm, $queryBuilder);
            }
        }

        return array($filterForm, $queryBuilder);
    }

    /**
    * Get results from paginator and get paginator view.
    *
    */
    protected function paginator(Request $request, $queryBuilder)
    {
        // Paginator
        $adapter = new DoctrineORMAdapter($queryBuilder);
        $pagerfanta = new Pagerfanta($adapter);
        $currentPage = $request->get('page', 1);
        $maxPerPage = $request->get('max_per_page', 10);
        $pagerfanta
                ->setMaxPerPage($maxPerPage)
                ->setCurrentPage($currentPage);
        $entities = $pagerfanta->getCurrentPageResults();

        // Paginator - route generator
        $me = $this;
        $routeGenerator = function($page) use ($me, $maxPerPage)
        {
            return $me->generateUrl('{{ route_name_prefix }}_index', array('page' => $page, 'max_per_page' => $maxPerPage));
        };

        // Paginator - view
        $translator = $this->get('translator');
        $view = new TwitterBootstrap3View();
        $pagerHtml = $view->render($pagerfanta, $routeGenerator, array(
            'proximity' => 3,
            'prev_message' => $translator->trans('views.index.pagprev', array(), 'CrudBundle'),
            'next_message' => $translator->trans('views.index.pagnext', array(), 'CrudBundle'),
            'css_container_class' => 'pagination pagination-sm'
        ));

        return array($entities, $pagerHtml);
    }
