
    /**
     * Displays a form to create a new {{ entity }} entity.
     *
{% if 'annotation' == format %}
     * @Route("/new", name="{{ route_name_prefix }}_new")
     * @Method("GET")
     * @Template()
{% endif %}
     */
    public function newAction()
    {
        $entity = new {{ entity_class }}();
        $form   = $this->createForm({{ entity_class }}Type::class, $entity, array(
            'action' => $this->generateUrl('{{ route_name_prefix }}_create'),
            'method' => Request::METHOD_POST,
            'attr' => array('class' => 'well'),
        ));

{% if 'annotation' == format %}
        return array(
            'entity' => $entity,
            'form'   => $form->createView(),
        );
{% else %}
        return $this->render('{{ entity|replace({'\\': '/'})|lower }}/new.html.twig', array(
            'entity' => $entity,
            'form'   => $form->createView(),
        ));
{% endif %}
    }
