<?php

namespace {{ namespace }}\Form{{ entity_namespace ? '\\' ~ entity_namespace : '' }};

use Symfony\Component\Form\AbstractType;
use Symfony\Component\Form\FormBuilderInterface;
use Symfony\Component\OptionsResolver\OptionsResolverInterface;
use Symfony\Bundle\FrameworkBundle\Translation\Translator;

class {{ form_class }} extends AbstractType
{

    /**
     *
     * @var Translator 
     */
    private $t;
    
    
    public function __construct($translator) {
        $this->t = $translator;
    }


    public function buildForm(FormBuilderInterface $builder, array $options)
    {
        $builder
        {%- for field in fields %}

            ->add('{{ field }}', null, array(
                'label' => $this->t->trans("label.{{ field }}", array(), 'forms'),
            ))

        {%- endfor %}

        ;
    }

    public function setDefaultOptions(OptionsResolverInterface $resolver)
    {
        $resolver->setDefaults(array(
            'data_class' => '{{ namespace }}\Entity{{ entity_namespace ? '\\' ~ entity_namespace : '' }}\{{ entity_class }}'
        ));
    }

    public function getName()
    {
        return '{{ form_type_name }}';
    }
}
