{{ "{% extends 'CoreBundle::layout_admin.html.twig' %}" }}

{{ "{% block title %}{{ 'title.meta_title'|trans({ '%PAGE_TITLE%': 'views.edit.edit'|trans({'%entity%': '" }}{{ entity }}{{ "'}, 'CrudBundle') }) }}{% endblock %}" }}

{{ "{% block content %}" }}

<div class="row">
    <div class="col-xs-12">
        <h1>{{ "{{ 'views.edit.edit'|trans({'%entity%': '" }}{{ entity }}{{ "'}, 'CrudBundle') }}" }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {{ "{{ form_start(edit_form) }}" }}
            <div class="row">
            {{ "{{ form_errors(edit_form) }}" }}
            </div>

            <div class="row">
            {%- for field, metadata in fields %}
            
                <div class="col-xs-12">{{ "{{ form_row(edit_form." ~ field ~ ") }}" }}</div>
            {%- endfor %}
            
            </div>

            {{ "{{ form_rest(edit_form) }}" }}
            <p>
                <button type="submit" class="btn btn-success">{{ "{{ 'views.edit.editbutton'|trans({}, 'CrudBundle') }}" }}</button>
            </p>
        {{ "{{ form_end(edit_form) }}" }}
    </div>
</div>

{% set hide_edit, hide_delete = true, false %}
<div class="row">
    <div class="col-xs-12">
        {% include 'crud/views/others/record_actions.html.twig.twig' %}
    </div>
</div>

{{ "{% endblock %}" }}