{{ "{% extends 'CoreBundle::layout_admin.html.twig' %}" }}
{{ "{% form_theme filterForm 'bootstrap_3_horizontal_layout.html.twig' %}" }}

{{ "{% block title %}{{ 'title.meta_title'|trans({ '%PAGE_TITLE%': 'views.index.list'|trans({'%entity%': '" }}{{ entity }}{{ "'}, 'CrudBundle') }) }}{% endblock %}" }}

{{ "{% block content %}" }}

<div class="row">

    <div class="col-xs-12 col-md-10">
        <h1>{{ "{{ 'views.index.list'|trans({'%entity%': '" }}{{ entity }}{{ "'}, 'CrudBundle') }}" }}</h1>
    </div>
    
    <div class="col-xs-12 col-md-2">
        <div class="text-right">
            <a class="btn dropdown-toggle" data-toggle="collapse" data-target="#filters">
                {{ "{{ 'views.index.filters'|trans({}, 'CrudBundle') }}" }}
                <span class="caret"></span>
            </a>
        </div>
    </div>
                
    {{ '{% if form_errors(filterForm) %}' }}
        <div class="col-xs-12">
            {{ '{{ form_errors(filterForm) }}' }}
        </div>
    {{ '{% endif %}' }}

    <div class="col-xs-12 col-md-6 col-lg-4 col-md-offset-6 col-lg-offset-8">
        <div id="filters" class="collapse">

            {{ "{{ form_start(filterForm) }}" }}

                {%- for field, metadata in fields %}

                {{ "{{ form_row(filterForm." ~ field ~ ") }}" }}

                {%- endfor %}

                {{ "{{ form_rest(filterForm) }}" }}

                <p>
                    <button type="submit" class="btn btn-sm btn-default" name="filter_action" value="filter">{{ "{{ 'views.index.filter'|trans({}, 'CrudBundle') }}" }}</button>
                    <button type="submit" class="btn btn-sm btn-default" name="filter_action" value="reset">{{ "{{ 'views.index.reset'|trans({}, 'CrudBundle') }}" }}</button>
                </p>
            {{ "{{ form_end(filterForm) }}" }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12" style="padding-top: 10px; padding-bottom: 10px;">
        <span class="dropdown">
            <button class="btn btn-xs btn-default dropdown-toggle" type="button" id="maxPerPageMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ "{{ 'button.max_per_page'|trans({ '%X%': app.request.query.get('max_per_page', 10) }) }}" }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="maxPerPageMenu">
                <li><a href="{{ "{{ path('"~ route_name_prefix ~"_index', { 'max_per_page': 10 }) }}" }}">10</a></li>
                <li><a href="{{ "{{ path('"~ route_name_prefix ~"_index', { 'max_per_page': 25 }) }}" }}">25</a></li>
                <li><a href="{{ "{{ path('"~ route_name_prefix ~"_index', { 'max_per_page': 50 }) }}" }}">50</a></li>
                <li><a href="{{ "{{ path('"~ route_name_prefix ~"_index', { 'max_per_page': 100 }) }}" }}">100</a></li>
            </ul>
        </span>

        <a class="btn btn-primary btn-block visible-xs" href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}">
            {{ "{{ 'views.index.createnew'|trans({}, 'CrudBundle') }}" }} {{ entity }}
        </a>
        <a class="btn btn-primary btn-xs hidden-xs" href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}">
            {{ "{{ 'views.index.createnew'|trans({}, 'CrudBundle') }}" }} {{ entity }}
        </a>
    </div>
</div>
                
<div class="row">
    <div class="col-xs-12">
        <form id="form{{ entity }}" action="{{ "{{ path('"~ route_name_prefix ~"_bulk_action') }}" }}" method="POST">
            <table class="table table-striped table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="text-center"><input type="checkbox" name="toggle_selection" onClick="javascript: toggleSelection();"/></th>

                    {%- for field, metadata in fields %}

                        <th>{{ "{{ 'table.th." ~ field ~ "'|trans|capitalize }}" }}</th>

                    {%- endfor %}

                        <th>{{ "{{ 'views.index.actions'|trans({}, 'CrudBundle') }}" }}</th>
                    </tr>
                </thead>
                <tbody>
                {{ '{% set i = 0 %}' }}
                {{ '{% if entities|length == 0 %}' }}
                    <tr>
                        <td colspan="{{ fields|length + 2 }}" class="text-center">
                            <span class="small">{{ '{{ "text.no_records_yet"|trans }}' }}</span>
                            <a href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}" class="btn btn-default btn-xs">{{ '{{ "button.create_first"|trans }}' }}</a>
                        </td>
                    </tr>
                {{ '{% else %}' }}
                    {{ '{% for entity in entities %}' }}
                        <tr>
                            <td class="text-center">
                                <label>
                                    <input class="selection" type="checkbox" name="bulk_selection[{{ "{{ i }}" }}]" value="{{ "{{ entity.id }}" }}"/>
                                </label>
                            </td>

                    {%- for field, metadata in fields %}
                        {%- if loop.first and ('show' in actions) %}

                            <td><a href="{{ "{{ path('"~ route_name_prefix ~"_show', { 'id': entity." ~ field|replace({'_': ''}) ~" }) }}" }}">{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</a></td>

                        {%- elseif metadata.type in ['date', 'datetime'] %}

                            <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

                        {%- else %}

                            <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</td>

                        {%- endif %}

                        {%- if loop.last %}

                            <td>
                                {%- include "crud/views/others/actions.html.twig.twig" %}
                            </td>

                        {%- endif %}
                    {%- endfor %}

                        </tr>
                    {{ '{% set i = i + 1 %}' }}
                    {{ '{% endfor %}' }}
                {{ '{% endif %}' }}
                </tbody>
            </table>
        </form>
    </div>

    <div class="col-xs-12 col-md-4">
        {{ "{% if i > 0 %}" }}
            <span class="dropdown">
                <button class="btn btn-sm btn-default dropdown-toggle" type="button" id="bulkActionMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ "{{ 'button.bulk_action'|trans }}" }}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="bulkActionMenu">
                    <li class="divider"></li>
                    <li><a href="#" onClick="javascript: $('#form{{ entity }}').append('{{ '{{ \'<input type="hidden" name="_action" value="remove">\'|e(\'js\') }}' }}').submit();">{{ "{{ 'button.remove_selected'|trans }}" }}</a></li>
                </ul>
            </span>
        {{ "{% endif %}" }}
    
        {% if 'new' in actions %}
            <a class="btn btn-primary btn-block visible-xs" href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}">
                {{ "{{ 'views.index.createnew'|trans({}, 'CrudBundle') }}" }} {{ entity }}
            </a>
            <a class="btn btn-sm btn-primary hidden-xs" href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}">
                {{ "{{ 'views.index.createnew'|trans({}, 'CrudBundle') }}" }} {{ entity }}
            </a>
        {% endif %}
    </div>

    <div class="col-xs-12 col-md-8 text-right">
        {{ '{{ pagerHtml|raw }}' }}
    </div>
</div>
{{ "{% endblock %}" }}

{{ "{% block javascripts %}" }}
    {{ "{{ parent() }}" }}
    <script>
        function toggleSelection() {
            var selections = $.find('.selection');
            
            $.each(selections, function(i, e) {
                e.checked = !e.checked;
            });
        }
    </script>
{{ "{% endblock %}" }}