{{ "{% extends 'CoreBundle::layout_admin.html.twig' %}" }}

{{ "{% block title %}{{ 'title.meta_title'|trans({ '%PAGE_TITLE%': 'views.show.show'|trans({'%entity%': '" }}{{ entity }}{{ "'}, 'CrudBundle') }) }}{% endblock %}" }}

{{ "{% block content %}" }}

<div class="row" style='padding-top: 40px;'>
    <div class="col-xs-12 col-md-6 col-md-push-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ entity }}
            </div>
            
            <div class="panel-body">
                <dl class="dl-horizontal">
                {%- for field, metadata in fields %}
                
                    <dt>{{ "{{ 'label." ~ field ~ "'|trans({}, 'forms') }}" }}</dt>
                    <dd>{%- if metadata.type in ['date', 'datetime'] %}{{ '{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}' }}{%- else %}{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}{%- endif %}</dd>
                {%- endfor %}
                
                </dl>
                
            </div>
            
            <div class="panel-footer">
                {% set hide_edit, hide_delete = false, false %}
                {% include 'crud/views/others/record_actions.html.twig.twig' %}
            </div>
        </div>
    </div>
</div>
{{ "{% endblock %}" }}